/* Tag Selectors */

body {
    background-image: url("../images/popcorn-background.jpg");
    background-color: #fff;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #F03A5F;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    color: #F03A5F;
    margin-bottom: 15px;

}

p {
    font-size: large;
}

img {
    width: 100%;
    height:600px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
  }

/* class Selectors */

.container {
    background-color: #fdfcfc;
    height: 1450px;
    border-radius: 10px;

}

.box {
    background-color: #f5efef1c;
    border-radius: 10px;
    margin: 25px;
    display: block;
}

#result-box {
    background-color: #fcfcfc1c;
    height: 1070px;
    position: relative;
    bottom: 1120px;
    border-radius: 10px;
    display: inline-block;
}

.input-history {
    background-color: rgba(255, 255, 255, 0);
    height: 150px;
    border-radius: 10px;
    padding: 0px
}

.list {
    padding: 4px;
    border: solid #f5f3f3;


    border-width: 0.01px;
    text-align: center;

}

.last-list {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;


}

.input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.is-danger {
    border-bottom-right-radius: 0.5;
    border-bottom-left-radius: 0.5;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.ratings {
    font-weight: bold;
    display: inline;
    text-align: left;



}

.ratings-box {
    font-weight: bold;
    display: inline-block;
    position: relative;
    bottom: 20px;
    margin: 3px;
    text-align: left;

}

.demographic-list {
    padding: 4px;
    border: solid #f5f3f3;
    position: relative;
    bottom: 205px;
    border-width: 0.01px;
    text-align: center;

}

.demographic-list2 {
    padding: 4px;
    border: solid #f5f3f3;
    position: relative;
    bottom: 410px;
    border-width: 0.01px;
    text-align: center;

}

.fourth-box-p {
    margin: 20px;
}

/* Id selectors */

#last-box {
    position: relative;
    bottom: 1000px;
}

/* media queries */

@media screen and (max-width: 765px) {

    #result-box {
        background-color: #f5efef1c;
        height: 1200px;
        position: relative;
        top: 100px;
        border-radius: 10px;
        
    }

    .ratings-box {
        font-weight: bold;
        display: inline-block;
        padding: 5px;
        margin: 5px;
        text-align: left;

    }

    .container {
        background-color: #fdfcfc;
        height: 3900px;
        border-radius: 10px;
        display: block;

    }

    .box {
        background-color: #f5efef1c;
        height: 400px;
        border-radius: 10px;
        margin: 25px;
        display: block;
    }

    p {
        font-size: x-large;
    }


    .demographic-list {
        padding: 4px;
        border: solid #f5f3f3;
        position: relative;
        top: 35px;
        border-width: 0.01px;
        text-align: center;

    }

    .demographic-list2 {
        padding: 4px;
        border: solid #f5f3f3;
        position: relative;
        top: 70px;
        border-width: 0.01px;
        text-align: center;

    }

    .demographic-box {
       height: 900px;
    }

    #last-box {
        position: relative;
        top: 200px
    }

}