/* Tag Selectors */

h1 {
    text-align: center;
    font-size: 50px;;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #ee3957;
}

/* class Selectors */

.container {
    background-color: #fdfcfc;
    height: 900px;
    border-radius: 10px;

}

.box {
    background-color: #fad4d41c;
    height: 250px;
    border-radius: 10px;
    margin: 25px;
    display: block;
}

.result-box {
    background-color: #fad4d41c;
    height: 800px;
    position: relative;
    bottom: 830px;
    border-radius: 10px;
    display: inline-block;
}

.input-history {
    background-color: rgba(241, 207, 207, 0.144);
    height: 150px;
    border-radius: 10px;
}

@media screen and (max-width: 765px) {

    .result-box {
        background-color: #fad4d41c;
        height: 800px;
        position: relative;
        top: 100px;
        border-radius: 10px;
        display: block;
    }
    
}